rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSigned () {
      return request.auth != null
    }
    function isSmallImage () {
      return request.resource.size < 5 * 1024 * 100
                   && request.resource.contentType.matches('image/.*')

    }
    match /images/{id} {
      allow read: if isSigned()
      allow write: if isSigned() && isSmallImage()
    }
  }
}
